@using  Blazed.Controls
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using CalibrationSaaS.Domain.Aggregates.Shared.Basic;
@namespace CalibrationSaaS.Infraestructure.Blazor.LTI.Scale
@using CalibrationSaaS.Infraestructure.Blazor.Helper
@using CalibrationSaaS.Domain.Aggregates.Querys 
@typeparam Target
@*@onchange="@(async (e) => await AddItem(e,item))"*@

<div class="container" style="max-height:200px;overflow:auto">

    <div class="row">
        @*<div class="col-sm-12 d-inline-block">*@
        <div class="col-sm" style="width:25%">
        </div>
        <div class="col-sm" style="width:25%">

            <label>Value</label>
        </div>
        <div class="col-sm" style="width:25%">
            <label>Actual Value</label>
        </div>
        <div class="col-sm" style="width:15%">

            <label>UoM</label>
        </div>
        <div class="col-sm">

            <label>Weight Set ID</label>
        </div>
        <div class="col-sm">

            <label>#Ref</label>
        </div>



    </div>


    @if (DataSource != null)
    {




        cont = 0;
        //TODO duplicate posible no se muy bien revisar parametros
        var aaa = DataSource.GroupBy(i => i.WeightSetID).Select(group => group.First());
        @* aaa = aaa.OrderByDescending(x => x.Check == true).OrderBy(x => x.WeightNominalValue).OrderBy(x => x.Reference); *@
        @foreach (var item in aaa)
        {
            var exis = SelectWeight.Where(x => x.PieceOfEquipmentID == item.PieceOfEquipmentID && x.WeightSetID == item.WeightSetID).FirstOrDefault();

            if (exis!= null)
            {
                item.Check = true;
            }
            else
            {
                item.Check = false;
            }

        }

        @* aaa = aaa.OrderByDescending(x => x.Check == true); *@

        @foreach (var item in aaa)
        {
            if (item != null)
            {

                <div class="row">
                    @*<div class="col-sm-12 d-inline-block">*@
                    <div class="col-sm" style="width:25%">

                        @*@{

                            var exis = SelectWeight
                                .Where(x => x.PieceOfEquipmentID == item.PieceOfEquipmentID && x.WeightSetID == item.WeightSetID).FirstOrDefault();

                        }*@


                        @if (item.Check)
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input"
                                       value="@item" checked="checked"
                                       @onchange="async eventArgs => { await AddItem( eventArgs.Value,item);}"
                                       id="@item.PieceOfEquipmentID + @cont">

                                <label class="custom-control-label" for="@item.PieceOfEquipmentID + @cont"></label>

                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" value="@item"
                                       id="@item.PieceOfEquipmentID + @cont"
                                       @onchange="async eventArgs => { await AddItem( eventArgs.Value,item);}">

                                <label class="custom-control-label" for="@item.PieceOfEquipmentID + @cont"></label>

                            </div>
                        }


                    </div>
                    <div class="col-sm" style="width:25%">

                        <label>@item.WeightNominalValue</label>
                    </div>
                    <div class="col-sm" style="width:25%">

                        <label>@item.WeightActualValue</label>
                    </div>
                    <div class="col-sm" style="width:15%">

                        <label>@GetName(@item.UnitOfMeasureID.ToString())</label>
                    </div>
                    <div class="col-sm">

                        <label>@item.PieceOfEquipmentID</label>
                    </div>
                    <div class="col-sm">

                        <label>@item.Reference</label>
                    </div>

                    @*</div>*@
                </div>

                cont = cont + 1;
            }
        }


    }

    @*@onclick="@(async () => await SelectModal())"*@
</div>
        <div class="form-row">
            <div class="col-sm-12">
                @LabelConversion
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <button class="btn btn-sm btn-success shadow-sm my-2 my-sm-0 btn-block" type="button" 
                        @onclick="@(async () => await SelectModal())"
                        @onclick:stopPropagation @onclick:preventDefault>

                    <span aria-hidden="true">Save</span>
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-sm btn-secondary shadow-sm my-2 my-sm-0 btn-block" type="button" 
                        @onclick="@(async () => await Clear())"
                        @onclick:stopPropagation @onclick:preventDefault>

                    <span aria-hidden="true">Clear</span>
                </button>
            </div>
        </div>

@code {
   
  
   

    [Parameter]
    public bool AllowZero { get; set; }

    [Parameter]
    public List<WeightSet> SelectWeight { get; set; }

    [Parameter]
    public TestPoint TestPoint { get; set; }

    public string LabelConversion { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    int cont = 0;

    [Parameter]
    public Target target { get; set; } = new Target();

    [Parameter]
    public List<WeightSet> SelectItem { get; set; } = new List<WeightSet>();

    [Parameter]
    public List<WeightSet> DesSelectItem { get; set; } = new List<WeightSet>();

    [Parameter]
    public List<WeightSet> DataSource { get; set; } = new List<WeightSet>();


    [Inject] CalibrationSaaS.Domain.Aggregates.Shared.AppStateCompany AppState { get; set; }

    public ResponsiveTable<WeightSet> RT
    { get; set; } = new ResponsiveTable<WeightSet>();


    public string ErrorMessage { get; set; }


    protected void ChangeWindow(ChangeEventArgs item)
    {
        ChangeEventArgs e = new ChangeEventArgs();

        e.Value = item.Value;

        //OnChangeControl.InvokeAsync(e);
    }
    double result = 0;
    Calculate c = new Calculate();

    /// <summary>
    /// Calculates the total weight from all selected items
    /// </summary>
    private void CalculateTotalWeight()
    {
        string customer = Configuration.GetSection("Reports")["Customer"];
        string UOMABB = "";
        try
        {
            Calculate c = new Helper.Calculate();
            result = 0;

            foreach (var item in SelectItem)
            {
                result = result + item.ConversionMethod(TestPoint, AppState.UnitofMeasureList, out UOMABB, customer);
            }

            LabelConversion = result.ToString() + " " + UOMABB;
        }
        catch (Exception ex)
        {
            LabelConversion = ex.Message;
        }
    }

    public async Task AddItem(object e, WeightSet add)
    {
        try
        {
            bool remove = false;
            bool additem = false;
            if (SelectItem.Where(x=>x.WeightSetID==add.WeightSetID && x.PieceOfEquipmentID==add.PieceOfEquipmentID).FirstOrDefault()==null)
            {
                SelectItem.Add(add);
                additem = true;

            }
            else
            {
                SelectItem.Remove(add);
                remove = true;
            }

            if (remove)
            {
                DesSelectItem.Add(add);
            }

            if (additem)
            {
                var c1 = DesSelectItem.Where(x => x.PieceOfEquipmentID == add.PieceOfEquipmentID && x.WeightSetID == add.WeightSetID).FirstOrDefault();

                if(c1 != null)
                {
                    DesSelectItem.Remove(c1);
                }
            }

            // Recalculate total weight after selection change
            CalculateTotalWeight();
        }
        catch (Exception ex)
        {
            LabelConversion = ex.Message;
            return;
        }
    }


    public async Task Clear()
    {
        // Add all currently selected items to DesSelectItem so parent knows what to remove
        if (SelectItem != null && SelectItem.Count > 0)
        {
            DesSelectItem.AddRange(SelectItem);
        }

        SelectWeight.Clear();
        SelectItem.Clear();

        // Reset the total weight display by recalculating (will show "0 [UoM]")
        CalculateTotalWeight();
    }


    public async Task SelectModal()
    {

        Calculate c = new Helper.Calculate();

        if (c.LinearityValidation(SelectItem, target))
        {
            WeightSetResult res = new WeightSetResult();

            res.WeightSetList = SelectItem;
            res.CalculateWeight = result;
            res.RemoveList = DesSelectItem;
            await BlazoredModal.CloseAsync(ModalResult.Ok(res));

        }
        else
        {
            ErrorMessage = "No valid";

        }
    }


    public string GetName(string item)
    {

        if (string.IsNullOrEmpty(item))
        {
            return "";
        }

        var res = AppState.UnitofMeasureList.Where(x => x.UnitOfMeasureID == Convert.ToInt32(item)).FirstOrDefault();


        if(res != null)
        {
            return res.Abbreviation;
        }

        return "N/A";

            }


            protected override async Task OnParametersSetAsync()
            {
                // Create a copy of SelectWeight instead of using reference assignment
                // This prevents clearing SelectItem from affecting the parent component's list
                SelectItem = SelectWeight != null ? new List<WeightSet>(SelectWeight) : new List<WeightSet>();

                // Calculate total weight for pre-selected items
                // This ensures LabelConversion shows the correct total even if user doesn't click any checkboxes
                if (SelectItem != null && SelectItem.Count > 0)
                {
                    CalculateTotalWeight();
                }
            }

        }
