@page "/EquipmentTemplate/{EntityID}"
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Basics
@using CalibrationSaaS.Infraestructure.Blazor.Pages.AssetsBasics
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Basics.TestPoints
@using CalibrationSaaS.Infraestructure.Blazor.Components
@inherits Equipment_CreateBase
@implements IDisposable
@using System.Linq.Expressions
@using Blazed.Controls
@using CalibrationSaaS.Infraestructure.Blazor.Helper

@{ 
    // CascadeParamET
    SetEnabled();
}

@if (AppState.EquipmentTypes == null || AppState.EquipmentTypes.Count==0 || eq==null)
{
    <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <div class="row" style="width:100%,display:flex;flex-direccin:columna;justify-content: center;">
            <div class="col">
            </div>
            <div class="col">
                <p><em>Loading...</em></p>
                <FluentProgressRing></FluentProgressRing>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
}
else{
    <CascadingValue Value="@eq" Name="CascadeParamET">
        <div class="">
            <HeaderComponent Title="Equipment Template" ActionBar="@Enabled" Enabled="@Enabled"></HeaderComponent>
            <EditForm OnSubmit="FormSubmitted" EditContext="@CurrentEditContext">
                <DataAnnotationsValidator />
                <SubmitComponent>
                </SubmitComponent>
                <FluentAccordion ActiveId="@activeId" OnAccordionItemChange="HandleOnAccordionItemChange" ExpandMode="AccordionExpandMode.Single">
                    <FluentAccordionItem Class="acco1">
                        <HeadingTemplate>
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                        data-target="#collapseBasicInformation"
                                        aria-expanded="true"
                                        aria-controls="collapseBasicInformation"
                                @onclick:stopPropagation @onclick:preventDefault>
                                    Basic Information
                                </button>
                            </h2>
                        </HeadingTemplate>
                        <ChildContent>
                            <div class="row">
                                <div class="col-sm">
                                    @{
                                        List<EquipmentTypeGroup> etg = null;
                                        if (AppState != null && AppState.EquipmentTypeGroups != null && AppState.EquipmentTypeGroups.Count > 0)
                                        {
                                            etg = AppState.EquipmentTypeGroups;
                                        }
                                    }
                                    @if (etg != null)
                                    {
                                        <div class="col">
                                            <TextInput @bind-Value="eq.EquipmentTypeGroupID"
                                                       IsDisabled="!Enabled"
                                                       Label="Equipment Type"
                                                       LabelDown="@LabelDown"
                                                       ValidationFor="(()=> eq.EquipmentTypeGroupID)"
                                                       OnChangeControl="@(async (arg) => await ChangeControlGroup(arg,eq,true))">
                                                @foreach (var item in etg)
                                                {
                                                    <option value="@item.EquipmentTypeGroupID">@item.Name</option>
                                                }
                                            </TextInput>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm">
                                    <TextInput @bind-Value="eq.ManufacturerID"
                                               IsDisabled="!Enabled"
                                               Label="Manufacturer"
                                               LabelDown="@LabelDown"
                                               ValidationFor="(()=> eq.ManufacturerID)"
                                               Validate="false">
                                        @foreach (Manufacturer item in AppState.Manufacturers)
                                        {
                                            <option value="@item.ManufacturerID">@item.Name</option>
                                        }
                                    </TextInput>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <TextInput @bind-Value="eq.StatusID"
                                               IsDisabled="!Enabled"
                                               Label="Status"
                                               LabelDown="@LabelDown"
                                               ValidationFor="(()=> eq.StatusID)">
                                        @foreach (KeyValuePair<string, string> item in AppState.StatusList)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </TextInput>
                                </div>
                                <div class="col">
                                    <TextInput @bind-Value="eq.DeviceClass" Label="Device Class" Validate="true"
                                               LabelDown="@LabelDown" IsDisabled="!Enabled"
                                               ValidationFor="@(() => eq.DeviceClass)">
                                    </TextInput>
                                </div>
                                <div class="col">
                                    <TextInput @bind-Value="eq.Model" Label="Model#" Validate="true"
                                               LabelDown="@LabelDown" IsDisabled="!Enabled"
                                               ValidationFor="@(() => eq.Model)">
                                    </TextInput>
                                </div>
                                <div class="col-sm-2">
                                    <TextInput @bind-Value="@eq.IsGeneric" Label="Generic" Validate="false"
                                               LabelDown="@LabelDown" IsDisabled="!Enabled"
                                               ValidationFor="@(() => eq.IsGeneric)"
                                               Type="@Types.Switch">
                                    </TextInput>
                                </div>
                            </div>
                            @if (EquipmentTypeObject != null && EquipmentTypeObject.HasCapacity)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <TextInput @bind-Value="eq.Capacity" Label="Capacity" Validate="true"
                                                   LabelDown="@LabelDown" IsDisabled="!Enabled"
                                                   ValidationFor="@(() => eq.Capacity)">
                                        </TextInput>
                                    </div>
                                    <div class="col-sm-5">
                                        <TextInput @bind-Value="@eq.UnitofmeasurementID"
                                                   LabelDown="LabelDown"
                                                   IsDisabled="!Enabled"
                                                   Label="Unit of Measure"
                                                   OnChangeControl="ChangeUOM"
                                                   ValidationFor="@(() => eq.UnitofmeasurementID)"
                                                   Type="@Types.select">
                                            @foreach (UnitOfMeasure item in AppState.GetUoMByEquipmentType(eq.EquipmentTypeObject))
                                        {
                                            <option value="@item.UnitOfMeasureID">@item.Name</option>
                                        }
                                    </TextInput>
                                </div>
                                <div class="col-sm-2">
                                    <TextInput @bind-Value="@eq.IsEnabled" Label="Enabled" Validate="false"
                                               LabelDown="@LabelDown" IsDisabled="!Enabled"
                                               ValidationFor="@(() => eq.IsEnabled)"
                                               Type="@Types.Switch">
                                    </TextInput>
                                </div>
                            </div>
                            }
                        </ChildContent>
                    </FluentAccordionItem>
                    @if (EquipmentTypeObject != null && EquipmentTypeObject.HasResolution)
                    {
                        <FluentAccordionItem Class="acco2">
                            <HeadingTemplate>
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" data-tggle="collapse" type="button"
                                            data-target="#collapseToleranceResolution"
                                            aria-expanded="true"
                                            aria-controls="collapseToleranceResolution"
                                    @onclick:stopPropagation @onclick:preventDefault>
                                        Tolerance and resolution Information
                                    </button>
                                </h2>
                            </HeadingTemplate>
                            <ChildContent>
                                @if (eq.Tolerance?.ToleranceTypeID.HasValue == false)
                                {
                                    eq.Tolerance.ToleranceTypeID = 0;
                                }
                                <CascadingValue Value="@eq.Tolerance" Name="CascadeTolerance">
                                    <ResolutionComponent @ref="@ResolutionComponent" Title="Resolution Component"
                                                         ToleranceList="AppState.ToleranceList2.Where(x=>eq.GetEquipmentType().CalibrationTypeID > 0
                                                         && x.CalibrationTypeId==eq.GetEquipmentType().CalibrationTypeID)" Type="1" Enabled="@Enabled">
                                    </ResolutionComponent>
                                </CascadingValue>
                            </ChildContent>
                        </FluentAccordionItem>
                    }
                    <FluentAccordionItem Class="acco3">
                        <HeadingTemplate>
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                        data-target="#collapseOtherInformation"
                                        aria-expanded="true"
                                        aria-controls="collapseOtherInformation"
                                @onclick:stopPropagation @onclick:preventDefault>
                                    Other Information
                                </button>
                            </h2>
                        </HeadingTemplate>
                        <ChildContent>
                            <div class="row">
                                <div class="col">
                                    <TextInput @bind-Value="eq.Description" Label="Description" Validate="false"
                                               LabelDown="@LabelDown" IsDisabled="!Enabled"
                                               ValidationFor="@(() => eq.Description)"
                                               Type="@Types.TextArea">
                                    </TextInput>
                                </div>
                            </div>
                        </ChildContent>
                    </FluentAccordionItem>

 
          
          
                    <!-- Pricing Section for Thermotemp customers -->
                    <FluentAccordionItem Class="acco3">
                        <HeadingTemplate>
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                        data-target="#collapsePricing"
                                        aria-expanded="true"
                                        aria-controls="collapsePricing"
                                @onclick:stopPropagation @onclick:preventDefault>
                                    Pricing Configuration
                                </button>
                            </h2>
                        </HeadingTemplate>
                        <ChildContent>
                            <PricingSection @ref="PricingSectionComponent"
                                          EntityType="EntityType.EquipmentTemplate"
                                          EntityId="@(eq?.EquipmentTemplateID ?? 0)"
                                          Enabled="@Enabled"
                                          OnPricesChanged="@OnPricesChanged" />
                        </ChildContent>
                    </FluentAccordionItem>

                    @if (EquipmentTypeObject != null && EquipmentTypeObject.HasTestpoint)
                    {
                        <FluentAccordionItem Class="acco4">
                            <HeadingTemplate>
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                            data-target="#collapseTestPoint"
                                            aria-expanded="true"
                                            aria-controls="collapseTestPoint"
                                    @onclick:stopPropagation @onclick:preventDefault>
                                        Test Point
                                    </button>
                                </h2>
                            </HeadingTemplate>
                            <ChildContent>
                                <div class="row">
                                    <div class="col">
                                        <GroupTestPoint  ActionBar="false" @ref="@GroupComponent" Eq="@eq" Enabled="@Enabled"  Component="Component"></GroupTestPoint>
                                    </div>
                                </div>
                            </ChildContent>
                        </FluentAccordionItem>
                    }
                    @if (_listPieceOfEquipment != null && _listPieceOfEquipment.Count > 0)
                    {
                        <FluentAccordionItem Class="acco5">
                            <HeadingTemplate>
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                            data-target="#collapsePiecesOfEquipment"
                                            aria-expanded="true"
                                            aria-controls="collapsePiecesOfEquipment"
                                    @onclick:stopPropagation @onclick:preventDefault>
                                        Pieces Of Equipment
                                    </button>
                                </h2>
                            </HeadingTemplate>
                            <ChildContent>
                                <POEByEqTemplate_Search @ref="@PieceOfEquipmentSearch" LIST1="_listPieceOfEquipment.ToList()" Component="Component">
                                </POEByEqTemplate_Search>
                            </ChildContent>
                        </FluentAccordionItem>
                    }
                    @if (EquipmentTypeObject != null && EquipmentTypeObject.HasUncertanity)
                    {
                        <FluentAccordionItem Class="acco6">
                            <HeadingTemplate>
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                            data-target="#collapseUncertaintyAttributes"
                                            aria-expanded="true"
                                            aria-controls="collapseUncertaintyAttributes"
                                    @onclick:stopPropagation @onclick:preventDefault>
                                        Uncertainty Attributes
                                    </button>
                                </h2>
                            </HeadingTemplate>
                            <ChildContent>
                                <CalibrationSaaS.Infraestructure.Blazor.LTI.UncertaintyComponent @ref="UncertaintyComponent"
                                                                                                 EquipmentTemplateID="@eq.EquipmentTemplateID">
                                </CalibrationSaaS.Infraestructure.Blazor.LTI.UncertaintyComponent>
                            </ChildContent>
                        </FluentAccordionItem>
                    }
                    @if (eq != null && EquipmentTypeObject != null
                   && EquipmentTypeObject.DynamicConfiguration2 == true
                   && EquipmentTypeObject.CalibrationType != null)
                    {
                        <FluentAccordionItem Class="acco7">
                            <HeadingTemplate>
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" data-toggle="collapse" type="button"
                                            data-target="#collapseAditionalInformation"
                                            aria-expanded="true"
                                            aria-controls="collapseAditionalInformation"
                                    @onclick:stopPropagation @onclick:preventDefault>
                                        Additional Information
                                    </button>
                                </h2>
                            </HeadingTemplate>
                            <ChildContent>
                                @if (OpenAditional)
                                {
                                    <div class="accordion" id="accordionDynamic">
                                        @{
                                            var nameform = this.FormName;
                                            var componentTMP = (Helpers.Controls.Component)Component.CloneObject();
                                            if (FormName != Component.Name)
                                            {
                                                componentTMP.Name = FormName;
                                            }
                                        }
                                        <CascadingValue Value="@eq" Name="CascadeParam3">
                                            <CascadingValue Value="@EquipmentTypeObject.CalibrationType" Name="CascadeParam2">
                                                <CalibrationSaaS.Infraestructure.Blazor.Shared.CalibrationTypeComponent UseIsVisible="true" ShowProgress="true" Entity="EquipmentTemplate"
                                                                                                                        CalibrationItem="GenericCalibration2"
                                                                                                                        CalibrationItemResult="GenericCalibrationResult2"
                                                                                                                        Component="@componentTMP"
                                                                                                                        ChangeResolution="false"
                                                                                                                        HasBeenCompleted="false"
                                                                                                                        @ref="CalibrationTypeComponent"
                                                                                                                        ResultCalibration="DynamicResult">
                                                </CalibrationSaaS.Infraestructure.Blazor.Shared.CalibrationTypeComponent>
                                            </CascadingValue>
                                        </CascadingValue>
                                    </div>
                                }
                            </ChildContent>
                        </FluentAccordionItem>
                    }
                </FluentAccordion>
            </EditForm>
        </div>
    </CascadingValue>
}


@code{
   

    
}

