@using Blazored.Modal.Services

@inject HttpClient Http

@using System.Linq
@using System.IO
@using CalibrationSaaS.Domain.Aggregates.Shared.Basic
@using Blazed.Controls
@using CalibrationSaaS.Domain.Aggregates.Entities
@inject IModalService modal

@inject ILogger<Certificate_CreatePoE> Logger
@using Helpers.Controls;
@using Helpers.Controls.ValueObjects;
@using System.Reflection;

@inherits BlazorApp1.Blazor.Pages.AssetsBasics.Certificate_CreatePoE
@if (LIST1 != null)
{
    <div class="row">
        <div class="col-sm-12">

            <ResponsiveTable ItemsDataSource="@LIST1"
                         PageSize="5"
                         TableItem="CertificatePoE"
                         @ref="RT"
                         RowEditClass=""
                         RowNewClass=""
                         InLineEdit="true"
                         EnabledSearch="false"
                         EnabledModal="false"
                         NewItemDefaultItem="Newcertificate"
                         Component="Component"
                         DeleteAction="Delete"
                         HasAction="true"
                         HasDelete="true"
                         HasEdit="true"
                         HasSelect="true"
                         HasNew="true"
                         OnSave="Submitted">

                <GridHeader>
                    @*<div class="col-sm-2 customcol">-</div>*@
                    <div class="col-sm-2 customcol"></div>
                    <div class="col-sm-2 customcol">Certificate#<br />Value</div>
                    <div class="col-sm-2 customcol">Version</div>
                    <div class="col-sm-2 customcol">Due<br />Date</div>
                    <div class="col-sm-2 customcol">Calibration<br />Date</div>
                    <div class="col-sm-2 customcol">Certificate</div>

                </GridHeader>
                <GridRow>
                    <div class="col-sm-2 customcol inv">Certificate#</div>
                    <div class="col-sm-2 customcol">@context.CertificateNumber</div>
                    <div class="col-sm-2 customcol inv">Company</div>
                    <div class="col-sm-2 customcol">@context.Version</div>
                    <div class="col-sm-2 customcol inv" >DueDate</div>
                    <div class="col-sm-2 customcol">@context.DueDate.ToString("MM/dd/yyyy")</div>
                    <div class="col-sm-2 customcol inv">CalibrationDate.</div>
                    <div class="col-sm-2 customcol">@context.CalibrationDate.ToString("MM/dd/yyyy")</div>
                    <div class="col-sm-2 customcol">
                        @if (context.Name == context.CertificateNumber + "_" + PieceOfEquipment.PieceOfEquipmentID + ".pdf")
                        {
                            @if (subscription == true)
                            {

                                <a href="@(url +  context.CertificateNumber + "_" + PieceOfEquipment.PieceOfEquipmentID + ".pdf")" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm editButton" target="_blank">Download</a>
                            }
                            else
                            {
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm editButton"
                            @onclick="@(async () => await Download(context.CertificateNumber + "_" + PieceOfEquipment.PieceOfEquipmentID + ".pdf"))"
                            @onclick:stopPropagation @onclick:preventDefault>
                                    Download
                                </button>
                            }
                        }
                    </div>

                </GridRow>

                <GridEdit>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <form>

                                <div class="form-group row">
                                    <div class="col-sm">

                                        <TextInput Label="Certificate #" @bind-Value="context.CertificateNumber"
                                                   Validate="true" ValidationFor="@(() => context.CertificateNumber)" IsDisabled="!Enabled">


                                        </TextInput>
                                    </div>
                                    <div class="col-sm-4" style="display:none">
                                        <div>Customer</div>
                                        <div class="param param-feature">
                                            <div>
                                                <label class="custom-select text-nowrap" @onclick="@(()=> ShowModalCustomer())">
                                                    @_CustomerId @_CustomerValue
                                                </label>
                                                @*@Grid.GetErrorMessage(nameof(@context.CustomerId))*@
                                            </div>
                                        </div>
                                    </div>




                                    <!--<div class="col-sm-4">

                                        <TextInput @bind-Value="@context.Company" class="form-control">-->
                                    @*@_CustomerId*@
                                    <!--</TextInput>


                                    </div>-->
                                    <div class="col-sm">

                                        <div>Due Date</div>
                                        <div >
                                            <InputDate @bind-Value="@context.DueDate" class="form-control" @bind-Value:format="MM/dd/yyyy">

                                            </InputDate>

                                        </div>
                                    </div>

                                    <div class="col-sm">

                                        <TextInput Label="Calibration Provider" @bind-Value="context.CalibrationProvider"
                                               Validate="true" ValidationFor="@(() => context.CertificateNumber)" IsDisabled="!Enabled">


                                        </TextInput>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div>Calibration Date</div>
                                        <div>
                                            <InputDate @bind-Value="@context.CalibrationDate" class="form-control">

                                            </InputDate>

                                        </div>



                                    </div>
                                    <div class="col-sm-4">
                                        <div class="custom-control custom-switch">

                                           @* <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1" style="margin:25px">Affects the Due Date</label>*@

                                            <TextInput Label="Affects the Due Date" @bind-Value="context.AffectDueDate" Type="@Types.Switch"
                                                   Validate="true" ValidationFor="@(() => context.AffectDueDate)" IsDisabled="!Enabled">


                                            </TextInput>



                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        @*<div class="custom-control custom-switch">
                                            
                                            <BlazorInputFile.InputFile OnChange="HandleFileSelected" />
                                            @if (file != null)
                                            {
                                                <label> File Name: @file.Name</label>

                                            }
                                        </div>*@

                                        <div class="custom-control custom-switch">
                                         
                                            <BlazorInputFile.InputFile OnChange="HandleFileSelected" title="Only select pdf files" style="color:transparent;" />
                                            
                                            @if (!string.IsNullOrEmpty(fileName))
                                            {
                                                <label> File Name:  @fileName</label>

                                            }
                                        </div>
                                    </div>

                                </div>


                            </form>
                        </div>
                    </div>

                </GridEdit>
            </ResponsiveTable>


        </div>
    </div>
}

@code
{



}
