@page "/POEBalanceIndicatorSearch"
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Basics

@using CalibrationSaaS.Domain.Aggregates.Shared
@using CalibrationSaaS.Domain.Aggregates.Entities
@using System.Reflection
@using System.Linq.Expressions
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Base
@using Blazed.Controls
@using CalibrationSaaS.Domain.Aggregates.Querys 
@using Blazored.Modal
@inherits BlazorApp1.Blazor.Pages.AssetsBasics.POEBalance_SearchBase


<ResponsiveTable ItemsDataSource="@_pieceOfEquipmentsDueDate"
                 PageSize="paginaSize"
                 HasAction="true"
                 HasDelete="false"
                 HasEdit="false"                
                 HasNew="true"
                 Context="Entity"
                 @ref="@Grid"
                 GridID="gridPoe"
                 InLineEdit="false"
                 RowEditClass=""
                 RowNewClass=""
                 TableItem="PieceOfEquipment"
                 EnabledSearch="true"
                 editContext="@CurrentEditContext"
                 EnabledModal="false"
                 SaveButtonSubmit="false"
                 PaginationFunction1="LoadData"                 
                 DeleteAction="@Delete"
                 SelectOnly="true"
                 Component="@Component">

    <ChildContent>

        <GridColumns>

            <GridColumn TableItem="PieceOfEquipment" Value="@(@"/PieceOfEquipmentCreate/")" Field="@Grid.GetPropertyName(() => eq.PieceOfEquipmentID)" Title="ID" ControlType="link" />


            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.SerialNumber)" />

            <GridColumn TableItem="PieceOfEquipment" Title="@nameof(eq.EquipmentTemplate.Model)"
                        Field="@Grid.GetPropertyName(() => eq.EquipmentTemplate.Model)">
                <ResponsiveTemplate>
                    @{ var entity = context as PieceOfEquipment;

                        @Format(entity.EquipmentTemplate.Model)

                    }
                </ResponsiveTemplate>
            </GridColumn>

            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.Customer.Name)" Title="Customer" />

            @*<GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.Capacity)" />*@

            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.PieceOfEquipmentID)" Title="Capacity">

                <ResponsiveTemplate Context="POE">

                    @{

                        string s = "";

                        var a = POE as PieceOfEquipment;

                        var b = a.UnitOfMeasureID.GetUoM(AppState.UnitofMeasureList, a.Capacity);

                        if (b != null)
                        {
                            s = b.CapacityFull;
                        }

                    }
                    @s


                </ResponsiveTemplate>

            </GridColumn>




            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.Status)">

                <ResponsiveTemplate>

                    @{

                        var a = context as PieceOfEquipment;

                        var b = a.Status.GetStatus(AppState.StatusListET);
                    }
                    @b
                </ResponsiveTemplate>


            </GridColumn>

            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.DueDate)" DefaultSort="true" />

        </GridColumns>



    </ChildContent>
    @*<GridSelect>

        <button class="btn btn-sm btn-primary" id="_btnselect"
                @onclick=@(async (arg) => await Select(arg, @Entity)) @onclick:stopPropagation @onclick:preventDefault>
            Select
        </button>

    </GridSelect>*@

    <GridRow>


    </GridRow>

    @*<NewButton>
        <button class="btn btn-primary" @onclick=@(async () => await ReturnModal())>Select</button>
    </NewButton>*@
    @*<EditButton>
            <a class="btn btn-sm btn-primary shadow-sm btn-sm editButton" href="PieceOfEquipmentCreate/@Entity.PieceOfEquipmentID">Edit</a>

        </EditButton>*@

</ResponsiveTable>

@*<CalibrationSaaS.Infraestructure.Blazor.Pages.Base.Search T="CalibrationSaaS.Domain.Aggregates.Entities.PieceOfEquipment"
                                                          S="Application.Services.IPieceOfEquipmentService<CallContext>"
                                                          D="CalibrationSaaS.Domain.Aggregates.Shared.Basic.AppState"
                                                          FuncFilter="@FilterList"
                                                          @ref="@searchComponent" PageSize="5" HasNewButton="true">
    <GridHeader>
        <th width="5%">ID</th>
        <th>Equipment Number</th>
        <th>Serial Number</th>
        <th>Capacity</th>
        <th>Status</th>
        <th>Due Date</th>
        <th></th>

    </GridHeader>

    <GridModalSelection>
       <div></div>
    </GridModalSelection>


    <GridRow >


        @if (context.DueDate < DateTime.Now)
    {
        classPieceOfEquipment = "table-danger";
    }
    else
    {
        classPieceOfEquipment = "table-success";
    }
      
             <td class="@classPieceOfEquipment">@context.PieceOfEquipmentID</td>
            <td class="@classPieceOfEquipment">@context.SerialNumber</td>
            <td class="@classPieceOfEquipment">@context.Capacity</td>
            <td class="@classPieceOfEquipment">@context.Status</td>
            <td class="@classPieceOfEquipment">@context.DueDate</td>
            <td class="@classPieceOfEquipment">
                
                <div class="col-sm">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" value="@context.PieceOfEquipmentID"
                               id="switch-@context.PieceOfEquipmentID" @onclick="@(async () => await addToListPoE(context.PieceOfEquipmentID))">

                        <label class="custom-control-label" for="switch-@context.PieceOfEquipmentID"></label>

                    </div>
                </div>
            </td>
         
    </GridRow>
    <GridNew>
        <button class="btn btn-primary" @onclick=@(async () => await ReturnModal())>Select</button>
      
    </GridNew>


    <GridSelect>
     
       
    </GridSelect>
    <GridEdit>
        <td>
         
           
            <a class="btn btn-success btn-sm" href="PieceOfEquipmentCreate/@context.PieceOfEquipmentID">New</a>
        </td>
    </GridEdit>
    <GridDelete>
        <td>
            <div>
                <button class="btn btn-danger btn-sm"
                        @onclick=@(async () => await Delete(context)) @onclick:stopPropagation @onclick:preventDefault>
                    Delete
                </button>
            </div>

        </td>
    </GridDelete>


</CalibrationSaaS.Infraestructure.Blazor.Pages.Base.Search>*@

@code {
    string classPieceOfEquipment;

    //public async Task ReturnModal()
    //{
    //    await BlazoredModal.Close(ModalResult.Ok(_pieceOfEquipmentsFiltered));
    //}


    //public async Task addToListPoE(int ID)
    //{
    //    PieceOfEquipment _poe = new PieceOfEquipment();
    //    if (_pieceOfEquipmentsDueDate != null)
    //    {
    //        var listPoe = _pieceOfEquipmentsDueDate.Where(x => x.PieceOfEquipmentID == ID).FirstOrDefault();

    //        _poe = new PieceOfEquipment()
    //        {
    //            PieceOfEquipmentID = ID,
    //            SerialNumber = listPoe.SerialNumber
    //        };


    //        _pieceOfEquipmentsFiltered.Add(_poe);
    //    }
    //    //await BlazoredModal.Close(ModalResult.Ok(searchComponent.Detail));

    //}
    async Task Select(object arg, PieceOfEquipment entity)
    {

        await CloseModal(entity);



    }


}
