@using Blazed.Controls
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using CalibrationSaaS.Domain.Aggregates.Shared;
@using CalibrationSaaS.Infraestructure.Blazor.Pages.AssetsBasics
@using CalibrationSaaS.Infraestructure.Blazor.Helper
@using CalibrationSaaS.Infraestructure.Blazor.Services
@using CalibrationSaaS.Domain.Aggregates.Interfaces
@using CalibrationSaaS.Domain.Aggregates.Querys
@inherits ISOComponentBase
@namespace CalibrationSaaS.Infraestructure.Blazor.LTI
<style>

    .grid-row1.headerRow {
        height: 55% !important;
    }



    .noedit {
    }

    .btnWidth {
        width: 75px
    }

   
    .secondGrid {
        /*padding-left: 70px*/
        /*left:-7%;*/
    }
    .linearityCol
    {
        padding:0px;
    }

    .linearityColHeader {
        padding: 0px;
    }

    @@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { /* Aquí van los estilos */
        /*  .editcolumn {
        }

        .container, .container-fluid {
            padding-left: 0rem;
            padding-right: 0rem;
        }

        .container-fluid {
            width: 100%;
            padding-right: 0rem;
            padding-left: 0rem;
            margin-right: auto;
            margin-left: auto;
        }*/
    }
</style>


@if (WorkOrderItemCreate.eq != null && LIST != null && ShowGrid)
{


    <div style="display:none">
        WeightSets :   @Description
        @if (WeightSetList2 != null)
        {
            <div class="" style="max-height:300px;overflow:auto;width:100%">

                @*<WeightSetComponent @ref="@WeightSetComponent" lstWeightSet="WeightSetList2" ChangeDescription="ChangeDescripcion">

                </WeightSetComponent>*@
            </div>
        }
    </div>



    @if (WorkOrderItemCreate.eq?.PieceOfEquipment?.EquipmentTemplate != null)
    {

        if (WorkOrderItemCreate.eq == null
           || WorkOrderItemCreate.eq?.PieceOfEquipment == null
           || WorkOrderItemCreate.eq?.PieceOfEquipment?.EquipmentTemplate == null
           || WorkOrderItemCreate.eq?.PieceOfEquipment?.EquipmentTemplate?.TestGroups == null
           || WorkOrderItemCreate.eq?.PieceOfEquipment?.EquipmentTemplate?.TestGroups?.ElementAtOrDefault(0)?.TestPoints?.Count == 0
           || WorkOrderItemCreate.eq.IsAccredited == false
           )
        {
            EnableSetPoints = false;
        }
        else
        {
            EnableSetPoints = true;
        }

       
    }


    <div class="" style="min-height: 600px; overflow: auto; padding-left: 5px; width: 100%; overflow-y: scroll; max-height: 600px;">
        @if (1==1)
        {
            //var tem = LIST;
            string sortField = "";

            //@Grid.GetPropertyName(() => PieceOfEquipment.EquipmentTemplate.EquipmentTypeObject.Name)
             
            //Console.WriteLine("inigrid");
            //LIST = RT.Items;
           @* <div>xxxx- @IsCompresion.ToString() -xxx--   @LTILogic.GetCalibrationSubType(WorkOrderItemCreate.eq, IsCompresion)</div>*@

            <ResponsiveTable ItemsDataSource="LIST"
                             PageSize="100" 
                             HasAction="true" 
                             HasSelect="true"
                             HasDelete="true"
                             HasDuplicate="true"
                             HasEdit="false"
                             HasNew="true"
                             @ref="@RT"
                             Context="ITEM"
                             TableItem="Domain.Aggregates.Entities.Force"
                             ForceNEwButton="false"
                             ClientPagination="true"
                             DisabledRowHover="true"
                             InLineEdit="false"
                             ColActionHeaderCSS="col-sm-2"
                             EnabledSearch="false"
                             ClientDefaultSortField="@SortField"
                             ClientDefaultSortDirection="asc"
                             RowExecute="RowChange"
                             Component="@Component"
                             RowAfterRender="@RowAfterRender"
                             AfterAction="@TaskAfterSave"
                             ColActionCSS="btnWidth"
                             EnabledDrag="true"
                             LabelHeader="true"
                             SaveNewItemFunc="RowSave"
                             Key="SequenceID">

                <NewButton>
                    <div class="row" style="width:100%">
                        @if (1 == 2)
                        {
                            <div class="col">

                                <label>
                                    As Found Multiplier
                                </label>
                                <input id="textMultiplerFound" disabled="!@Enabled" @bind-value="@TextMultiplerFound" type="number" />


                            </div>
                            <div class="col">
                                <label>
                                    As Left Multiplier
                                </label>
                                <input id="textMultiplerLeft" disabled="!@Enabled" @bind-value="@TextMultiplerLeft" type="number" />
                            </div>
                        }
                        <div class="col">
                           @* <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm allWidth" disabled="@(!Enabled)" @onclick=@(async () => await Calculate2()) @onclick:stopPropagation @onclick:preventDefault
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Calculate
                            </button>*@
                            @if (HasCopyButton)
                            {
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm allWidth" disabled="@(!Enabled)" @onclick=@(async () => await CopyToCompression()) @onclick:stopPropagation @onclick:preventDefault
                                aria-expanded="false" aria-controls="collapseTwo">
                                    Copy To Compression
                                </button>
                            }
                        </div>

                        <div class="col">
                            @*@if (!EnableSetPoints && Enabled && 1 == 2)
                                {
                                    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm allWidth  marginButton" onclick="$('#btnTestPoints').click()" @onclick:stopPropagation @onclick:preventDefault
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        Add 
                                    </button>
                                }
                                else
                                {
                                    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm allWidth marginButton" disabled="" @onclick:stopPropagation @onclick:preventDefault
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        Add 
                                    </button>
                                }*@

                        </div>
                        @*<div class="col">
                            <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm allWidth marginButton" disabled="@(!Enabled)" @onclick=@(async () => await Assing()) @onclick:stopPropagation @onclick:preventDefault
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Assign Weights Automatically
                            </button>
                        </div>*@
                        <div class="col">
                            <div class="input-group mb-3">
                                <input id="txtName" @bind-value="@TextNewValue" type="number" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" disabled="@(!Enabled)" @onclick=@(async() => await AddNewItem()) @onclick:stopPropagation @onclick:preventDefault
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        Add 
                                    </button>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">

                                <div class="col">
                                    <div class="col" style="width:40%;float:left">
                                        <input id="txtName" @bind-value="@TextNewValue" type="number" style="width:80%;margin-left:3px" />
                                    </div>
                                    <div class="col" style="width:60%;float:left">

                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm marginButton" disabled="@(!Enabled)" @onclick=@(async () => await RT.SaveNewItem(DefaultNew())) @onclick:stopPropagation @onclick:preventDefault
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            <span>
                                                New Linearity
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>

                                        </button>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </NewButton>

                <GridHeader2>
                    @if (ITEM != null && ITEM.BasicCalibrationResult != null)
                    {
                        <EditForm Model="@ITEM" class="col">
                            <div class="form-row" style="width:100%">
                                <div class="col-sm">
                                    <div class="row">

                                        <div class="col-sm-2 linearityCol">

                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.FS"
                                                       CSSClass="@("inputgridNoBorder")"
                                                       Type=@Types.numberdecimal
                                                       Validate="false"
                                                       ValidationFor="@(()=> ITEM.BasicCalibrationResult.FS)"
                                                       TValue="double"
                                                       IsDisabled="false"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "FSTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="FS (%)"
                                                       OnlyHeader="true">
                                            </TextInput>


                                        </div>





                                        <div class="col-sm-2 linearityCol editcolumn">

                                            @*@if (WorkOrderItemCreate.eq.IsAccredited.HasValue && WorkOrderItemCreate.eq.IsAccredited.Value == false && Enabled)
                                            {*@
                                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Nominal"
                                                           CSSClass="inputgrid"
                                                           Type=@Types.numberdecimal
                                                           TValue="double"
                                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Nominal)"
                                                           IsDisabled="!Enabled"
                                                           
                                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                           DecimalRoundType="RoundType.RoundToResolution"
                                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "NominalTexbox_" + ITEM.SequenceID.ToString())"
                                                           EnableToastMessage="true"
                                                           ToastMessage=@("in Force  the typed value {0} was rounded to {1}")
                                                           ShowControl="false"
                                                           ShowLabel="true"
                                                           Label="Nominal"
                                                           OnlyHeader="true"
                                                           >
                                                </TextInput>
                                           @* }
                                            else
                                            {
                                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Nominal"
                                                           CSSClass="inputgrid"
                                                           Type=@Types.numberdecimal
                                                           TValue="double"
                                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Nominal)"
                                                           IsDisabled="true"
                                                           
                                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "NominalTexbox_" + ITEM.SequenceID.ToString())"
                                                           DecimalRoundType="RoundType.RoundToResolution"
                                                           ShowControl="RT.GetShowControl()"
                                                           ShowLabel="RT.GetShowlabel()"
                                                           Label="Nominal"
                                                           OnlyHeader="true">
                                                </TextInput>
                                            }
*@
                                        </div>

                                        @*<div class="col-sm linearityCol inv noedit">RUN1 as Found</div>*@
                                        <div class="col-sm-2 linearityCol noedit">
                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.RUN1"
                                           
                                                       Type=@Types.numberdecimal
                                                       TValue="double"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.RUN1)"
                                                       IsDisabled="!Enabled"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "RUN1Texbox_" + ITEM.SequenceID.ToString())"
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       EnableToastMessage ="true"
                                                       ToastMessage=@("in Force  the typed value {0} was rounded to {1}")
                                                       Label="RUN1asFound"
                                           ShowControl="false"
                                           ShowLabel="true"
                                           
                                                       OnlyHeader="true">
                                            </TextInput>

                                        </div>


                                        <div class="col-sm-2 linearityCol noedit">
                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.ErrorRun1"
                                                       CSSClass="inputgrid"
                                                       Type=@Types.numberdecimal
                                                       TValue="double"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.ErrorRun1)"
                                                       IsDisabled="true"
                                                       
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "RUN1ErrorTexbox_" + ITEM.SequenceID.ToString())"
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="Error"
                                                       OnlyHeader="true">
                                            </TextInput>

                                        </div>


                                        <div class="col-sm-2 linearityCol noedit">
                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.ClassRun1"
                                                       CSSClass="inputgrid"
                                                       Type=@Types.text
                                                       TValue="string"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.ClassRun1)"
                                                       IsDisabled="true"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "RUN1ClassTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="true"
                                                       ShowLabel="true"
                                                       Label="Class"
                                                       OnlyHeader="true"
                                                      ToastMessageForce="@ITEM.BasicCalibrationResult.ToastMessageForce">
                                            </TextInput>

                                        </div>


                                        <div class="col-sm-2 linearityCol">
                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.RUN2"
                                                       CSSClass="inputgrid"
                                                       Type=@Types.numberdecimal
                                                       TValue="double"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.RUN2)"
                                                       IsDisabled="!Enabled"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()" 
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "RUN2Texbox_" + ITEM.SequenceID.ToString())"
                                                       ToastMessage=@("in Force  the typed value {0} was rounded to {1}")
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="RUN1asAdjusted"
                                                       OnlyHeader="true">
                                            </TextInput>


                                        </div>


                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="row">


                                        <div class="col-sm-2 linearityCol noedit">


                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.RUN3"
                                                       CSSClass="inputgrid"
                                                       Type=@Types.numberdecimal
                                                       TValue="double"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.RUN3)"
                                                       IsDisabled="!Enabled"
                                                       OnChangeControl="@(async (arg) => await ChangeControl2(arg,ITEM,true))"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "RUN3Texbox_" + ITEM.SequenceID.ToString())"
                                                       ToastMessage=@("in Force  the typed value {0} was rounded to {1}")
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="RUN2"
                                                       OnlyHeader="true">
                                            </TextInput>



                                        </div>


                                        <div class="col-sm-2 linearityCol noedit">


                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.RUN4"
                                                       CSSClass="inputgrid"
                                                       Type=@Types.numberdecimal
                                                       TValue="double"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.RUN4)"
                                                       IsDisabled="!Enabled"
                                                       OnChangeControl="@(async (arg) => await ChangeControl2(arg,ITEM,true))"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString() + "RUN4Texbox_" + ITEM.SequenceID.ToString())"
                                                       ToastMessage=@("in Force  the typed value {0} was rounded to {1}")
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="RUN3"
                                                       OnlyHeader="true">
                                            </TextInput>



                                        </div>



                                        <div class="col-sm-2 linearityCol noedit secondGrid">

                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Resolution"
                                                       CSSClass="@("inputgridNoBorder")"
                                                       Type=@Types.number
                                                       Validate="false"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Resolution)"
                                                       TValue="double"
                                                       IsDisabled="!Enabled"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.Ceiling"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "ResolutionTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="Resolution"
                                                       OnlyHeader="true">
                                            </TextInput>
                                        </div>


                                        <div class="col-sm-2 linearityCol editcolumn secondGrid">

                                            @*@ITEM?.BasicCalibrationResult?.RelativeIndicationError*@

                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.MaxErrorNominal"
                                                       CSSClass="@("inputgridNoBorder")"
                                                       Type=@Types.number
                                                       Validate="false"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.MaxErrorNominal)"
                                                       TValue="double"
                                                       IsDisabled="true"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.Ceiling"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "RelativeIndicationErrorTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="Max Error"
                                                       OnlyHeader="true"
                                                       @* MessageForceDifference="@ITEM.BasicCalibrationResult.MessageForceDifference" *@>
                                            </TextInput>




                                        </div>
@* 
                                        <div class="col-sm-1 linearityCol noedit secondGrid">
                                           
                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Repeatability"
                                                       CSSClass="@("inputgridNoBorder")"
                                                       Type=@Types.number
                                                       Validate="false"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Repeatability)"
                                                       TValue="double"
                                                       IsDisabled="!Enabled"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.Ceiling"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "RepeatabilityTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="Repeatability"
                                                       OnlyHeader="true">
                                            </TextInput>

                                        </div> *@

                                        @if (@ITEM.BasicCalibrationResult.UncertaintyNew != null && @ITEM.BasicCalibrationResult.UncertaintyNew != 0)
                                        {

                                        <div class="col-sm-2 linearityCol editcolumn secondGrid">


                                            @*@ITEM?.BasicCalibrationResult?.Uncertanty*@

                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.UncertaintyNew"
                                                       CSSClass="@("inputgridNoBorder")"
                                                       Type=@Types.numberdecimal
                                                       Validate="false"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.UncertaintyNew)"
                                                       TValue="double?"
                                                       IsDisabled="true"
                                                       StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                       
                                                       DecimalRoundType="RoundType.RoundToResolution"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "UncertaintyTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       Label="Uncertainty"
                                                       OnlyHeader="true"
                                                       DecimalNumbers="2">
                                            </TextInput>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-2 linearityCol editcolumn secondGrid">


                                                @*@ITEM?.BasicCalibrationResult?.Uncertanty*@

                                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Uncertanty"
                                                           CSSClass="@("inputgridNoBorder")"
                                                           Type=@Types.numberdecimal
                                                           Validate="false"
                                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Uncertanty)"
                                                           TValue="double"
                                                           IsDisabled="true"
                                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                                           DecimalRoundType="RoundType.RoundToResolution"
                                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "UncertaintyTexbox_" + ITEM.SequenceID.ToString())"
                                                           ShowControl="RT.GetShowControl()"
                                                           ShowLabel="RT.GetShowlabel()"
                                                           Label="Uncertainty"
                                                           OnlyHeader="true"
                                                           DecimalNumbers="2">
                                                </TextInput>
                                            </div>
                                        }





                                        <div class="col-sm-1 linearityCol noedit secondGrid">

                                            <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Class"
                                                       CSSClass="@("inputgridNoBorder")"
                                                       Type=@Types.number
                                                       Validate="false"
                                                       ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Class)"
                                                       TValue="string"
                                                       IsDisabled="true"
                                                       @* StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()" *@
                                                       DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                                       DecimalRoundType="RoundType.Ceiling"
                                                       Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                             + "ClassTexbox_" + ITEM.SequenceID.ToString())"
                                                       ShowControl="RT.GetShowControl()"
                                                       ShowLabel="RT.GetShowlabel()"
                                                       OnlyHeader="true"
                                                       ToastMessageForce="@ITEM.BasicCalibrationResult.ToastMessageForceTotal"
                                                       Label="Class">
                                            </TextInput>



                                        </div>





                                    </div>
                                </div>
                            </div>
                            
                        </EditForm>
                    }
                </GridHeader2>

                <GridSelect2 Context="select">

                    @{
                        var color = "";
                        var a = new ResponsiveTable<Force>.SelectRow();
                        if (select != null)
                        {
                            a = select as ResponsiveTable<Force>.SelectRow;
                             if (a.Entity !=null && a.Entity.WeightSets != null && a.Entity.WeightSets.Count > 0)
                            {
                                color = "success";
                            }
                            else
                            {
                                color = "primary";
                            }
                        }
                        
                   


                   

                  }

                    <div class="row" rt="TTT">
                        @if (!Enabled || !EnableWeightSet)
                        {
                            @*<div class="btnWidth buttonLin">
                    <button class="btn btn-sm btn-primary shadow-sm editButton" disabled
                            id="setw"
                            @onclick:stopPropagation @onclick:preventDefault>
                        Standard
                    </button>
                </div>*@
                            <div class="btnWidth buttonLin">
                                <button class="btn btn-sm btn-@color shadow-sm editButton"
                                        id="@("btnSelect_" + a.Position.ToString())" @onclick=@(async () => await  SelectWeight(a.Entity,a.Position))
                                        @onclick:stopPropagation @onclick:preventDefault>
                                    Standard
                                </button>
                            </div>
                        }
                        else if (a != null && a.Entity != null && WorkOrderItemCreate.eq != null && EnableWeightSet && Enabled
                            || a != null && a.Entity != null && WorkOrderItemCreate.eq != null && WorkOrderItemCreate.eq.IsAccredited.HasValue && WorkOrderItemCreate.eq.IsAccredited.Value == true && Enabled)
                        {
                            <div class="btnWidth buttonLin">
                                <button class="btn btn-sm btn-@color shadow-sm editButton"
                                        id="@("btnSelect_" + a.Position.ToString())" @onclick=@(async () => await  SelectWeight(a.Entity,a.Position))
                                        @onclick:stopPropagation @onclick:preventDefault>
                                    Standard
                                </button>
                            </div>
                        }
                        @if (select != null && RT != null && a != null && a?.Entity != null)
                        {

                        }


                    </div>
                </GridSelect2>

                <ChildContent>
                    <GridColumns>
                        @{
                            Helpers.JavaScriptFunctions func = new JavaScriptFunctions();
                        }

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.FS)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.FS)">
                            <ResponsiveTemplate Context="_context">
                                @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.FS"
                                           CSSClass="@("inputgridNoBorder")"
                                           Type=@Types.numberdecimal
                                           Validate="false"
                                           ValidationFor="@(()=> ITEM.BasicCalibrationResult.FS)"
                                           TValue="double"
                                           IsDisabled="false"
                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                           OnChangeControl="@(async (arg) => await ChangeControlFS(arg,ITEM,false))"
                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                           DecimalRoundType="RoundType.Without"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                    + "FSTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="FS (%)"
                                   IsRounded="false">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Nominal)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Nominal)">
                            <ResponsiveTemplate Context="_context">
                        @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Nominal"
                                           CSSClass="inputgrid"
                                           Type=@Types.numberdecimal
                                           TValue="double"
                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Nominal)"
                                           IsDisabled="!Enabled"
                                           OnChangeControl="@(async (arg) => await ChangeControl2(arg,ITEM,false))"
                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                           DecimalRoundType="RoundType.RoundToResolution"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                   + "NominalTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   EnableToastMessage="true"
                                   ToastMessage=@("in Force the typed value {0} was rounded to {1}")
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="Nominal">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.RUN1)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.RUN1)">
                            <ResponsiveTemplate Context="_context">
                        @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.RUN1"
                                           CSSClass="inputgrid"
                                           Type=@Types.numberdecimal
                                           TValue="double"
                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.RUN1)"
                                           IsDisabled="!Enabled"
                                           OnChangeControl="@(async (arg) => await ChangeControl2(arg,ITEM,false))"
                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                           DecimalRoundType="RoundType.RoundToResolution"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                   + "RUN1Texbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ToastMessage=@("in Force the typed value {0} was rounded to {1}")
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   IsValid="@func.ValidTolerance(@ITEM.BasicCalibrationResult.Nominal, ITEM.BasicCalibrationResult.RUN1,WorkOrderItemCreate.eq.Tolerance.ToleranceTypeID.Value,WorkOrderItemCreate.eq.Resolution,WorkOrderItemCreate.eq.Tolerance.AccuracyPercentage, ITEM.BasicCalibrationResult.InToleranceFound)"
                                   Label="RUN1 As Found">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.ClassRun1)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.ClassRun1)">
                            <ResponsiveTemplate Context="_context">
                        @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.ClassRun1"
                                           CSSClass="inputgrid"
                                           Type=@Types.text
                                           TValue="string"
                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.ClassRun1)"
                                           IsDisabled="true"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                    + "RUN1ClassTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="Class RUN1">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.RUN2)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.RUN2)">
                            <ResponsiveTemplate Context="_context">
                        @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.RUN2"
                                           CSSClass="inputgrid"
                                           Type=@Types.numberdecimal
                                           TValue="double"
                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.RUN2)"
                                           IsDisabled="!Enabled"
                                           OnChangeControl="@(async (arg) => await ChangeControl2(arg,ITEM,false))"
                                           StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                           DecimalRoundType="RoundType.RoundToResolution"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                   + "RUN2Texbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ToastMessage=@("in Force the typed value {0} was rounded to {1}")
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   IsValid="@func.ValidTolerance(@ITEM.BasicCalibrationResult.Nominal, ITEM.BasicCalibrationResult.RUN2,WorkOrderItemCreate.eq.Tolerance.ToleranceTypeID.Value,WorkOrderItemCreate.eq.Resolution,WorkOrderItemCreate.eq.Tolerance.AccuracyPercentage, ITEM.BasicCalibrationResult.InToleranceAdjusted)"
                                   Label="RUN1 As Adjusted">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Resolution)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Resolution)">
                            <ResponsiveTemplate Context="_context">
                        @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Resolution"
                                           CSSClass="@("inputgridNoBorder")"
                                           Type=@Types.numberdecimal
                                           Validate="false"
                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Resolution)"
                                           TValue="double"
                                           IsDisabled="!Enabled"
                                           OnChangeControl="@(async (arg) => await ChangeControl2(arg,ITEM,false))"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                    + "ResolutionTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="Resolution">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>

                @if (WorkOrderItemCreate.eq.IsAccredited.HasValue && WorkOrderItemCreate.eq.IsAccredited.Value == false && Enabled)
                        {
                            <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.UncertaintyNew)"
                                        Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.UncertaintyNew)">
                                <ResponsiveTemplate Context="_context">
                                    @{
                                        var ITEM = _context as Force;
                                    }
                                    <TextInput @bind-Value="@ITEM.BasicCalibrationResult.UncertaintyNew"
                                               CSSClass="@("inputgridNoBorder")"
                                               Type=@Types.numberdecimal
                                               Validate="false"
                                               ValidationFor="@(()=> @ITEM.BasicCalibrationResult.UncertaintyNew)"
                                               TValue="double?"
                                               IsDisabled="true"
                                               StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                               DecimalRoundType="RoundType.Ceiling"
                                               Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                            + "UncertaintyTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="Uncertainty"
                                   DecimalNumbers="2">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>
                                }
                        else
                        {
                            <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Uncertanty)"
                                        Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Uncertanty)">
                                <ResponsiveTemplate Context="_context">
                                    @{
                                        var ITEM = _context as Force;
                                    }
                                    <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Uncertanty"
                                               CSSClass="@("inputgridNoBorder")"
                                               Type=@Types.numberdecimal
                                               Validate="false"
                                               ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Uncertanty)"
                                               TValue="double"
                                               IsDisabled="true"
                                               StepResol="@ITEM.BasicCalibrationResult.Resolution.ToString()"
                                               DecimalRoundType="RoundType.Ceiling"
                                               Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                            + "UncertaintyTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="Uncertainty"
                                   DecimalNumbers="2">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>
                                }

                        <GridColumn TableItem="Force" Title="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Class)"
                                    Field="@RT.GetPropertyName(() => _Linearity.BasicCalibrationResult.Class)">
                            <ResponsiveTemplate Context="_context">
                                @{
                                    var ITEM = _context as Force;
                                }
                                <TextInput @bind-Value="@ITEM.BasicCalibrationResult.Class"
                                           CSSClass="@("inputgridNoBorder")"
                                           Type=@Types.numberdecimal
                                           Validate="false"
                                           ValidationFor="@(()=> @ITEM.BasicCalibrationResult.Class)"
                                           TValue="string"
                                           IsDisabled="true"
                                           DecimalNumbers="@ITEM.BasicCalibrationResult.DecimalNumber"
                                           DecimalRoundType="RoundType.Ceiling"
                                           Id="@(LTILogic.GetCalibrationSubTypeStr(WorkOrderItemCreate.eq, IsCompresion).ToString()
                                                                    + "ClassTexbox_" + ITEM.BasicCalibrationResult.Position.ToString())"
                                   ShowControl="RT.GetShowControl()"
                                   ShowLabel="RT.GetShowlabel()"
                                   Label="Class"
                                   ToastMessageForce="@ITEM.BasicCalibrationResult.ToastMessageForceTotal">
                        </TextInput>
                    </ResponsiveTemplate>
                </GridColumn>
                            
                   <GridColumn TableItem="Force" >
                            <ResponsiveTemplate Context="_context">
                                @{
                                    var ITEM = _context as Force;
                                }
                                <div class="btnWidth buttonLin">
                                    <a href="@(url + "/api/print/LTIUncertaintyBudget?id=" + WorkOrderItemCreate.eq.WorkOrderDetailID + "&seq=" + ITEM.BasicCalibrationResult.Position + "&CalibSubtyId=" + IsCompresion)" class="btn btn-sm btn-secondary shadow-sm customlink" target="_blank">Detail</a>
                                </div>

                                </ResponsiveTemplate>
                                </GridColumn>
                    </GridColumns>
                </ChildContent>

            </ResponsiveTable>
        }
    </div>



}
else
{
    <div>Loading... wait a moment please</div>
}



@code {
    public string CSSClass;
    async Task newitem(EventArgs obj)
    {

    }
    public bool GetClass(ForceResult forceresult, double run1)
    {
        double nominal = forceresult.Nominal;
        double run = run1;
        int? toleranceType = WorkOrderItemCreate.eq.Tolerance.ToleranceTypeID;
        double toleranceLow = 0;
        double toleranceMax = 0;
        if(toleranceType == 1)
        {
            toleranceLow = ResolutionTolerance(WorkOrderItemCreate.eq.Resolution, 1, nominal);
            toleranceMax = ResolutionTolerance(WorkOrderItemCreate.eq.Resolution, 2, nominal);
        }
        else if (toleranceType == 2)
        {
            toleranceLow = PercentageResolutionTolerance(WorkOrderItemCreate.eq.Tolerance.AccuracyPercentage, WorkOrderItemCreate.eq.Resolution, 1, nominal);
            toleranceMax = PercentageResolutionTolerance(WorkOrderItemCreate.eq.Tolerance.AccuracyPercentage, WorkOrderItemCreate.eq.Resolution, 2, nominal);
        }

        

        if (run >= toleranceLow && run <= toleranceMax)
        {
            return true;
        }
        else
        {
            return false;
        }
       
    }

    private double Percentage(double tolerance, int ToleranceRange, double testpoint)
    {
        double Accuracy = tolerance;
        double toleranceLow = 0;

        double TestPoint = testpoint;
        if (ToleranceRange == 1)
            toleranceLow = TestPoint - (TestPoint * Accuracy) / 100;
        else
            toleranceLow = TestPoint + (TestPoint * Accuracy) / 100;




        return toleranceLow;
    }
    private double PercentageResolutionTolerance(double tolerance, double resol, int ToleranceRange, double testpoint)
    {
        double toleranceLow;
        double Accuracy = tolerance;
        double resolution = resol;
        double TestPoint;


        TestPoint = testpoint;


        if (ToleranceRange == 1)
            toleranceLow = TestPoint - (((TestPoint * Accuracy) / 100) + resolution);
        else
            toleranceLow = TestPoint + (((TestPoint * Accuracy) / 100) + resolution);

        return toleranceLow;
    }

    //Resolution
    private double ResolutionTolerance(double tolerance, int ToleranceRange, double testpoint)
    {
        double resolution = tolerance;
        double toleranceLow;


        double TestPoint = testpoint;
        if (ToleranceRange == 1)
            toleranceLow = TestPoint - resolution;
        else
            toleranceLow = TestPoint + resolution;
        return toleranceLow;
    }
    //public string GetInvalidClass(double a,double b)
    //{
    //    var valid = 0d;
    //    if (b != 0)
    //    {
    //        valid = (a % b);
    //    }
    //    else
    //    {
    //        return "";
    //    }
    //    var c = true;
    //    if(Math.Abs(valid) > 0)
    //    {
    //        c=  Math.Abs(valid % 1) <= (Double.Epsilon * 100);
    //    }

    //    var cssinvalid = "";
    //    if (valid != 0 && !c )
    //    {
    //        cssinvalid = "inputinvalid";
    //    }
    //    return cssinvalid;
    //}


}
