@page "/SelectWODStandard"
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Basics
@using CalibrationSaaS.Infraestructure.Blazor.Shared.Component
@using CalibrationSaaS.Domain.Aggregates.Shared
@using System.Reflection
@using System.Linq.Expressions
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Base
@using Blazed.Controls
@using CalibrationSaaS.Domain.Aggregates.Querys
@inherits SelectWODStandardBase


<ResponsiveTable ItemsDataSource="@_pieceOfEquipmentsDueDate"
                 PageSize="paginaSize"
                 HasAction="true"
                 HasDelete="false"
                 HasEdit="false"
                 HasSelect="true"
                 HasNew="true"
                 Context="Entity"
                 @ref="@Grid"
                 GridID="gridPoe"
                 InLineEdit="false"
                 RowEditClass=""
                 RowNewClass=""
                 TableItem="PieceOfEquipment"
                 EnabledSearch="true"
                 editContext="@CurrentEditContext"
                 EnabledModal="false"
                 SaveButtonSubmit="false"
                 PaginationFunction1="LoadData"                 
                 DeleteAction="@Delete"
                 SelectOnly="true"                 
                 Component="@Component">

    <ChildContent>

        <GridColumns>


            <GridColumn TableItem="PieceOfEquipment" Title=" " Field="@Grid.GetPropertyName(() => eq.PieceOfEquipmentID)" CSScol="col-sm-1 customcol">
                <ResponsiveTemplate>
                    @{
                        bool ch = false;
                        bool dis = false;
                        var entity = context as PieceOfEquipment;
                        if (_pieceOfEquipmentsFiltered != null && _pieceOfEquipmentsFiltered.Count > 0 && entity != null)
                        {
                            var a = _pieceOfEquipmentsFiltered.Where(x => x.PieceOfEquipmentID == entity.PieceOfEquipmentID).ToList();

                            if (a != null && a?.Count > 0)
                            {
                                ch = true;
                            }
                        }

                        //var aaa = Parameter1.Where(x => x.PieceOfEquipmentId == entity.PieceOfEquipmentID).FirstOrDefault();
                        //if (aaa != null)
                        //{
                        //    dis = true;
                        //}



                    }
                    @if (ch)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" value="@entity.PieceOfEquipmentID" checked="checked" disabled="@dis"
                                   id="switch-@entity.PieceOfEquipmentID" @onclick="@(async () => await addToListPoE(entity.PieceOfEquipmentID))">

                            <label class="custom-control-label" for="switch-@entity.PieceOfEquipmentID"></label>

                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" value="@entity.PieceOfEquipmentID" disabled="@dis"
                                   id="switch-@entity.PieceOfEquipmentID" @onclick="@(async () => await addToListPoE(entity.PieceOfEquipmentID))">

                            <label class="custom-control-label" for="switch-@entity.PieceOfEquipmentID"></label>

                        </div>

                    }


                </ResponsiveTemplate>
            </GridColumn>


            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.PieceOfEquipmentID)" Title="ID" />

            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.SerialNumber)" />
         

            
           @* @if (CalibrationTypeID == 4 )
            {
                <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.MicronValue)" Title="Micron"/>

                 <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.TypeMicro)">

                <ResponsiveTemplate>

                        @{

                            var a = context as PieceOfEquipment;
                            KeyValue2 b = null;
                            if (a.TypeMicro.HasValue)
                            {
                                b = AppState.TYpeMicro.Where(x => x.Key == a.TypeMicro).FirstOrDefault();
                            }


                        }
                        @if (b != null)
                        {
                            <div>
                                @b.Value
                            </div>
                            
                        }
                       
                </ResponsiveTemplate>
                </GridColumn>


            }*@



            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.Status)">

                <ResponsiveTemplate>

                    @{

                        var a = context as PieceOfEquipment;

                        var b = a.Status.GetStatus(AppState.StatusListET);
                    }
                    @b
                </ResponsiveTemplate>


            </GridColumn>

            <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => eq.DueDate)" Format="{0:MM/dd/yy}" DefaultSort="true">


            </GridColumn>

        </GridColumns>



    </ChildContent>
    @*<GridSelect>

        <button class="btn btn-sm btn-primary" id="_btnselect"
                @onclick=@(async (arg) => await Select(arg, @Entity)) @onclick:stopPropagation @onclick:preventDefault>
            Select
        </button>

    </GridSelect>*@

    <GridRow>


    </GridRow>

    <NewButton>
        <button class="btn btn-primary" @onclick=@(async () => await ReturnModal())>Select</button>
    </NewButton>
    @*<EditButton>
            <a class="btn btn-sm btn-primary shadow-sm btn-sm editButton" href="PieceOfEquipmentCreate/@Entity.PieceOfEquipmentID">Edit</a>

        </EditButton>*@

</ResponsiveTable>


@code {
    string classPieceOfEquipment;

 
    async Task Select(object arg, PieceOfEquipment entity)
    {

        await CloseModal(entity);



    }


}
