@using Meziantou.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using Bogus;

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">CalibrationSubType</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">CalibrationSubTypeView</a>
    </li>
   
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <EditForm Model="NewPerson" OnSubmit="() => { }" class="row">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <GenericForm @bind-Model="NewPerson2" EditorClass="form-control" EnableFieldValidation="true">
                <FieldTemplate Context="field">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="@field.EditorId">@field.DisplayName</label>
                            @field.EditorTemplate
                            @field.FieldValidationTemplate
                        </div>
                    </div>
                  
                </FieldTemplate>
            </GenericForm>

            <button type="submit" class="btn btn-primary">Submit</button>

            <button type="button" @onclick="() => StateHasChanged()">Refresh</button>

        </EditForm>

        @NewPerson2

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <EditForm Model="NewPerson2.CalibrationSubTypeView" OnSubmit="() => { }" class="row">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <GenericForm @bind-Model="NewPerson2.CalibrationSubTypeView" EditorClass="form-control" EnableFieldValidation="true">
                <FieldTemplate Context="field">
                     <div class="col-3">
                    <div class="form-group">
                        <label for="@field.EditorId">@field.DisplayName</label>
                        @field.EditorTemplate
                        @field.FieldValidationTemplate
                    </div>
                    </div>
                </FieldTemplate>
            </GenericForm>

            <button type="submit" class="btn btn-primary">Submit</button>

            <button type="button" @onclick="() => StateHasChanged()">Refresh</button>

        </EditForm>

        @NewPerson.CalibrationSubTypeView
    </div>
   
</div>







@*Model="NewPerson"*@


@code {


    [Parameter]
    public CalibrationSaaS.Domain.Aggregates.Entities.CalibrationSubType NewPerson { get; set; }


    [Parameter]
    public Func<CalibrationSaaS.Domain.Aggregates.Entities.CalibrationSubType,Task<bool>> Save { get; set; }

    public CalibrationSubType2 NewPerson2 { get; set; }


    protected override Task OnInitializedAsync()
    {
        NewPerson2 = new CalibrationSubType2();

        NewPerson2.CalibrationSubTypeView = NewPerson.CalibrationSubTypeView;

        NewPerson2.CalibrationSubTypeId = NewPerson.CalibrationSubTypeId;


        return base.OnInitializedAsync();
    }


    public class CalibrationSubType2 : CalibrationSaaS.Domain.Aggregates.Entities.CalibrationSubType
    {
       [System.ComponentModel.Editor(typeof(GenericFormDemoCustomEditor), typeof(Microsoft.AspNetCore.Components.Forms.InputBase<>))]
       public new bool?  SupportCSV { get; set; }


    }

    //Person2 NewPerson { get; set; } = new Person2();

    public record Person2
    {


        public CalibrationSaaS.Domain.Aggregates.Entities.CalibrationSubType  MyProperty { get; set; }
    
    
    }


    public record Person 
    {

        [System.ComponentModel.DataAnnotations.MinLength(3)]
        [System.ComponentModel.DataAnnotations.Display(Name = "String Value with custom name")]
        public string Name { get; set; } = "Gérald Barré";

        public string Nickname { get; set; } = "meziantou";

        // It supports DataAnnotations (DataType, Display, DisplayName, Editable, Editor, etc.)
        [DataType(DataType.Url)]
        public string Website { get; set; } = "https://www.meziantou.net";

        [DataType(DataType.Date)]
        public DateTime DateOfBirth { get; set; }

        public int Children { get; set; }

        [System.ComponentModel.DisplayName("Custom name")]
        public string StringValueWithCustomName { get; set; } = "Gérald Barré";

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Date)]
        public DateTime? DateValueNullable { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Date)]
        public DateTime DateValue { get; set; } = DateTime.UtcNow;
        public DateTime DateTimeValue { get; set; } = DateTime.UtcNow;
        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Date)]
        public DateTimeOffset DateOffsetValue { get; set; } = DateTimeOffset.UtcNow;
        public DateTimeOffset DateTimeOffsetValue { get; set; } = DateTimeOffset.UtcNow;

        [System.ComponentModel.DataAnnotations.Editable(false)]
        public byte ByteValue { get; set; }

        [System.ComponentModel.DataAnnotations.Display(Name = "Byte Value")]
        public int ByteValueBindable { get => ByteValue; set => ByteValue = (byte)value; }

        [System.ComponentModel.Editor(typeof(GenericFormDemoCustomEditor), typeof(Microsoft.AspNetCore.Components.Forms.InputBase<>))]
        public string Choice { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.PhoneNumber)]
        public string PhoneNumber { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Url)]
        public string Url { get; set; }

        public Uri Uri { get; set; }

        [System.ComponentModel.DataAnnotations.Required()]
        [System.ComponentModel.DataAnnotations.Display(Name = "la concha")]
        [System.ComponentModel.DataAnnotations.Editable(true)]
        public Guid ReadOnlyGuid { get; set; } = Guid.NewGuid();

        public Guid Guid { get; set; } = Guid.NewGuid();

        public Guid? NullableGuid { get; set; }
    }
}
