@page "/PieceOfEquipmentSearch"
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Basics
@using CalibrationSaaS.Infraestructure.Blazor.Shared.Component
@using CalibrationSaaS.Domain.Aggregates.Shared
@using System.Reflection
@using System.Linq.Expressions
@using CalibrationSaaS.Infraestructure.Blazor.Pages.Base
@using Blazed.Controls
@using CalibrationSaaS.Domain.Aggregates.Querys
@inherits PieceOfEquipment_SearchBase
@using CalibrationSaaS.Infraestructure.Blazor.Helper
@using ProtoBuf.Grpc;
@using Blazed.Controls 
<style>

    .expired {
        background-color: mistyrose !important;
    }

    .almostexpired {
        background-color: lightyellow !important;
    }

    .Approved {
        background-color: azure !important;
    }

    .Inactive {
        background-color: darkgrey !important;
        color: whitesmoke;
        font-weight: bold;
    }

    .Rejected {
    }



    .expired > div {
        color: black !important;
    }





    .almostexpired > div {
        color: black !important;
    }
</style>


    <div class="col-md">



        <HeaderComponent Title="Piece Of Equipment" ActionBar="false"></HeaderComponent>


        <ResponsiveTable ItemsDataSource="@_pieceOfEquipmentsDueDate"
                         PageSize="10"
                         HasAction="true"
                         Context="Entity"
                         @ref="@Grid"
                         GridID="gridPoe"
                         InLineEdit="false"
                         RowEditClass=""
                         RowNewClass=""
                         TableItem="PieceOfEquipment"
                         EnabledSearch="true"
                         editContext="@CurrentEditContext"
                         EnabledModal="false"
                         OnChangeWindow="ClearList"
                         SelectOnly="@SelectOnly"
                         SaveButtonSubmit="false"
                         PaginationFunction1="LoadData"
                         RowCondition="Querys.POEGridDueDateCondition()"
                         RowExecute="InvalidDueDate"
                         DeleteAction="Delete"
                         Component="@Component">

            <ChildContent>
                <GridColumns>

                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.PieceOfEquipmentID)" Title="ID" />

                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.SerialNumber)" />
                <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.CustomerToolId)" />
                    <GridColumn TableItem="PieceOfEquipment" Title="@nameof(PieceOfEquipment.EquipmentTemplate.Model)"
                                Field="@Grid.GetPropertyName(() => PieceOfEquipment.EquipmentTemplate.Model)">
                        <ResponsiveTemplate Context="_context">
                            @{
                                var entity = _context as PieceOfEquipment;

                                @Format(entity.EquipmentTemplate.Model)

                            }
                        </ResponsiveTemplate>
                    </GridColumn>

                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.Customer.Name)" Title="Customer" />
                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.EquipmentTemplate.EquipmentTypeObject.Name)" Title="Type" CSScol="col-sm text-justify" />
                    @*<GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.Capacity)" />*@
                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.EquipmentTemplate.Capacity)" Title="Capacity">

                        <ResponsiveTemplate Context="_context">

                            @{
                                UnitOfMeasure d;
                                string h = "";
                                var c = _context as PieceOfEquipment;
                                if (c.UnitOfMeasureID.HasValue)
                                {
                                    double result = c.Capacity;

                                    if (c.Capacity == 0 && c.EquipmentTemplate != null && c.EquipmentTemplate.EquipmentTypeObject != null && c.EquipmentTemplate.EquipmentTypeObject.HasWorkOrderDetail)
                                    {
                                        result = c.EquipmentTemplate.Capacity;
                                    }
                                    else if (c.Capacity != 0)
                                    {
                                        result = c.Capacity;
                                    }
                                    else
                                        result = 0;

                                    //else if (c.EquipmentTemplate != null && c?.EquipmentTemplate?.EquipmentTypeID != 3)
                                    //{
                                    //    result = 0;
                                    //}

                                    d = c.UnitOfMeasureID.Value.GetUoM(AppState.UnitofMeasureList, result);
                                    if (d != null && !string.IsNullOrEmpty(d?.CapacityFull))
                                    {
                                        h = d.CapacityFull;
                                    }

                                }
                            }
                            @h


                        </ResponsiveTemplate>

                    </GridColumn>
                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.Status)">

                        <ResponsiveTemplate Context="_context">

                            @{
                                var a = _context as PieceOfEquipment;
                                var b = a.Status.GetStatus(AppState.StatusListET);
                            }
                            @b


                        </ResponsiveTemplate>

                    </GridColumn>

                    <GridColumn TableItem="PieceOfEquipment" Field="@Grid.GetPropertyName(() => PieceOfEquipment.DueDate)" Format="{0:MM/dd/yy}" DefaultSort="true" />

                </GridColumns>



            </ChildContent>

            @*<GridHeader>
        <div class="col-sm customcol"></div>
        <div class="col-sm customcol">Serial Number</div>
        <div class="col-sm customcol">Model</div>
        <div class="col-sm customcol">Customer</div>
        <div class="col-sm customcol">Capacity</div>
        <div class="col-sm customcol">Status</div>
        <div class="col-sm customcol">Due Date</div>
        </GridHeader>*@

            <GridRow>





            </GridRow>



            @*<GridEdit>



        </GridEdit>*@

            <GridSelect>

                <button class="btn btn-sm btn-primary" id="_btnselect"
                        @onclick=@(async (arg) => await Select(arg, @Entity)) @onclick:stopPropagation @onclick:preventDefault>
                    select
                </button>

            </GridSelect>
            <NewButton>
                <a class="btn btn-primary btn-sm" href="PieceOfEquipmentCreate/0">new</a>
            </NewButton>
            <EditButton>
                <div class="form-group" style="margin-top:0rem;margin-bottom:0rem">
                    <a class="btn btn-sm btn-primary shadow-sm btn-sm editButton" href="PieceOfEquipmentCreate/@Entity.PieceOfEquipmentID">edit</a>
                </div>
            </EditButton>

            <GridFilter Context="filter">
                @{


                    var a = filter as FilterObject<PieceOfEquipment>;
                    if (a != null && eq != null)
                    {
                        a.EntityFilter = eq;
                    }


                }

                <div class="form-row">
                    <div class="col-md p-2">

                        <TextInput @bind-Value="a.EntityFilter.Customer.Name" Label="Customer" Validate="false"></TextInput>

                    </div>


                </div>
                <div class="form-row">
                    <div class="col-md p-2">
                        <TextInput @bind-Value="a.EntityFilter.SerialNumber" Label="Serial" Validate="false"></TextInput>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md p-2">
                        @if (AppState != null && AppState.EquipmentTypeGroups != null && AppState.EquipmentTypeGroups.Count > 0)
                        {
                            <TextInput @bind-Value="a.EntityFilter.EquipmentTemplate.EquipmentTypeGroupID"
                                       IsDisabled="!Enabled"
                                       Label="Equipment Type"
                                       LabelDown="@LabelDown"
                                       ValidationFor="(()=> a.EntityFilter.EquipmentTemplate.EquipmentTypeGroupID)">
                                @foreach (EquipmentTypeGroup item in AppState.EquipmentTypeGroups)
                                {
                                    <option value="@item.EquipmentTypeGroupID">@item.Name</option>
                                }
                            </TextInput>
                        }
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md p-2">
                        <label class="form-control-label" for="InitDate">Due Date</label>
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-md p-2">
                        <label class="form-control-label" for="InitDate">Init Date</label>
                        <InputDate class="form-control" @bind-Value="a.InitDate" Label="Init Date" Validate="false"></InputDate>
                    </div>
                    <div class="col-md p-2">
                        <label class="form-control-label" for="EndDate">End Date</label>
                        <InputDate class="form-control" @bind-Value="a.EndDate" Label="End Date" Validate="false"></InputDate>
                    </div>

                </div>

                @*<button class="btn btn-sm btn-primary" id="_btnselect2"
            @onclick=@(async(arg) => await SelectFilter(arg)) @onclick:stopPropagation @onclick:preventDefault>
            Search
            </button>*@
            </GridFilter>

        </ResponsiveTable>
    </div>








@code {


    PieceOfEquipment InvalidDueDate(PieceOfEquipment POE)
    {

        var a = POE.SelectSingle(Querys.POEGridDueDateCondition());
        var already = false;
        if (POE.SelectSingle(Querys.POEGridDalmostueDateCondition()))
        {
            Grid.RowClass = "row grid-row almostexpired";
            already = true;
        }
        else if (a)
        {

            Grid.RowClass = " row grid-row expired";
            already = true;
        }
        else
        {
            Grid.RowClass = "row grid-row";
        }


        if (POE.Status.GetStatus(AppState.StatusListET) == "N/A")
        {
            Grid.RowClass = Grid.RowClass + " Inactive";
            //var csss = item.CSScol;
            //foreach(var item in Grid.Columns)
            //{
            //    item.CSScol = item.CSScol + " text-white";
            //}


        }
        else if (!already)
        {
            Grid.RowClass = Grid.RowClass + " " + POE.Status.GetStatus(AppState.StatusListET);
        }

        return POE;
    }


    string classPieceOfEquipment;

    public PieceOfEquipment PieceOfEquipment { get; set; } = new PieceOfEquipment();



    async Task Select(object arg, PieceOfEquipment entity)
    {

        await CloseModal(entity);



    }

    public async void Show(List<PieceOfEquipment> group, bool IsFromEt)
    {
        if (Grid != null && group != null)
        {
            if (IsFromEt == true)
            {
                _pieceOfEquipmentsDueDate = group;
            }



        }


    }




    async Task SelectFilter(object arg)
    {

        await Grid.SearchFunction(Grid.currentColumn);



    }

    async Task CloseEdit(ChangeEventArgs arg)
    {
        var a = (ModalResult)arg.Value;

        //if (a.Data != null)
        //{
        //    var yy = Grid.Items.Where(x => x.EquipmentTypeID == ((EquipmentType)a.Data).EquipmentTypeID).FirstOrDefault();

        //    Grid.Items.Remove(yy);

        //    Grid.Items.Add((EquipmentType)a.Data);

        //    StateHasChanged();
        //}

        if (!a.Cancelled)
        {
            await Grid.SearchFunction(Grid.currentColumn);
        }




    }

   


}
